.env
.env.*
!.env.example

.venv/
venv/
env/

*.sqlite
*.db
*.backup.sqlite

.git/
.vscode/
.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

Dockerfile.*
docker-compose*.yml
